.footer {
  font-weight: light;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  bottom: 0;
  align-items: center;
  margin-top: auto;
}

.footerContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid greenyellow;
  height: 40px;
  padding: .5rem;
}

.footerContainer p {
  font-size: 0.9em;
  font-weight: lighter;
  font-weight: 300;
  margin: 0;
}

.logoDev {
  margin-left: .5rem;
  cursor: pointer;
  height: 24px;
  transition: all ease 200ms;
}

.logoDev:hover {
  transform: scale(1.05) rotate(7deg)
}