.footer {
  font-weight: light;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  bottom: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.footerContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid greenyellow;
}

.footerContainer p {
  margin-bottom: 0.5rem;
  font-size: 0.9em;
  font-weight: lighter;
  font-weight: 300;
}

.logoDev {
  width: 30px;
}
